<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Orders</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/myOrder.css">
</head>

<body>
  <div class="container">
    <h1 class="my-4">My Orders</h1>
    <% orders.forEach((order)=>{%>
        <div class="order-list">
            <div class="order-item">
              <div class="order-info">
                <h3>Order ID: <%= order.order._id %></h3>
                <p>Date: June 12, 2023</p>   
                <p>Address : <%= order.order.address%></p>
                <p>Total: $<%= order.order.amount %></p>

                <p>Status :<strong> <%= order.order.status%></strong></p>
              </div>
              <ul class="order-items">
                <% order.items.forEach((item)=>{%>
                    <li>
                        <img src="<%= item.imageUrl %>" alt="<%= item.title %>" class="product-image">
                        <div class="product-details">
                            <h4><%= item.product.name %></h4>
                            <p>Quantity: <%= item.quantity %></p>
                            <p>Price: $<%= item.product.price %> each</p>
                        </div>
                    </li>
                <% }) %>
              </ul>
            </div>

        </div>
        <% }) %>
  </div>

  <!-- Bootstrap JS (optional, for Bootstrap features) -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
